* {
    box-sizing: border-box;
	font-family: Red Hat Display;
	font-weight: normal;
	font-style:normal;
  }
  
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.header{
    display:flex;
    justify-content: center;
	font-size: 40px;
	text-decoration: underline lightblue;
}
#column-2{
    padding: 5%;
}
#column-3{
    padding: 5%;
}
#column-6{
    padding: 5%;
}
  
@media screen and (max-width: 900px) {
.column {
    width: 100%;
	font-size: 20px;
}
#column-1{
    display:flex;
    justify-content:center;
}
#column-4{
	display:flex;
    justify-content:center;
}
#column-3{
    position: absolute;
    top:1090px;
}
#column-5{
    position: absolute;
    top:1500px;
    display:flex;
    justify-content:center;
}
#column-6{
    position: absolute;
    top:1800px;
}
}

@media screen and (max-width: 470px){
.header{
   font-size:40px;
}
} 
